{% extends 'bootstrap/base.html' %}
<meta http-equiv="refresh" content="5" >
{% block title %}
    {% if title %}{{ title }} - Batt base{% else %}Welcome to Batt_base{% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand js-scroll-trigger"> <img alt="Battery Team" src="{{ url_for('static', filename='pictures/bat_team_01.png') }}" height="50"></a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Homepage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tests_list">Test list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cells" >Cell inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/booking" >Booking</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
  {% block main %}


  {% endblock %}
{% block footer %}
<footer>
  <div class="row container-fluid mt-4 pt-4">
    <div class="col-2"></div>
    <div class="col-3">
      Equipment and measured data management tool
    </div>
    <div class="col-2">
      Battery Management Team
    </div>
    <div class="col-2">
      <span class="copyright">Copyright &copy; CSEM </span>
    </div>
    <div class="col-3"></div>
  </div>
</footer>
{% endblock %}
{% endblock %}

