{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}



{% block main %}
<div class="row container-fluid mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row container-fluid">
        <buton type="button" class="btn btn-outline-secondary btn-block my-1" data-toggle="modal" data-target="#modalNewCampaign"> Register a new campaign</button>
        </div>
        <div class="row container-fluid">    
        <buton type="button" class="btn btn-outline-secondary btn-block my-1" data-toggle="modal" data-target="#modalNewProject"> Register a new project</button>
        </div>
    </div> 
    <div class="col-1"></div>

</div>

<div class="row container-fluid mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row container-fluid">
            <div class="col-12">

                <h2>Schedule a new test</h2>
                    <form method="POST">
                    {{ forms['addTest'].csrf_token }}

                    {{ wtf.form_field(forms['addTest'].name, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].description, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].start, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].end, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].campaign, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].type_1, class='form-control') }}

                    {{ wtf.form_field(forms['addTest'].type_2, class='form-control') }}
                    if necessary chose a temperature chamber
                    {{ wtf.form_field(forms['addTest'].chambers, class='form-control') }}
                    <!-- temperature of the cycling (only saved if temp chamber is selected) -->
                    {{ wtf.form_field(forms['addTest'].temperature, class='form-control') }}
                    if necessary chose an additional EIS device
                    {{ wtf.form_field(forms['addTest'].eis, class='form-control') }}
                    {{ wtf.form_field(forms['addTest'].addSingletest, class='form-control') }}

                    </form>

            </div>
        </div>
        
        <div class="row mt-3 mb-3"></div>
        
        <div class="row container-fluid mb-3 mt-6">
            <div class="col-4">
                {% if type == 'cell' %}
                <button id="device_cell" type="button" class="btn btn-secondary btn-block">Single cells test</button>
                {% else %}
                <button id="device_cell" type="button" class="btn btn-outline-secondary btn-block">Single cells test</button>
                {% endif %}
                <script type="text/javascript">
                    document.getElementById("device_cell").onclick = function () {
                        location.href = "{{ url_for( 'book_device_cells_get') }}";
                    };
                </script>
            </div>
            <div class="col-4">
                {% if type == 'pack' %}
                <button id="device_pack" type="button" class="btn btn-secondary btn-block"  >Pack test</button>
                {% else %}
                <button id="device_pack" type="button" class="btn btn-outline-secondary btn-block"  >Pack test</button>
                {% endif %}
                <script type="text/javascript">
                    document.getElementById("device_pack").onclick = function () {
                        location.href = "{{ url_for( 'book_device_packs_get') }}";
                    };
                </script>
            </div>
            <div class="col-4">
                {% if type == 'other' %}
                <button id="device_other" type="button" class="btn btn-secondary btn-block">Other</button>
                {% else %}
                <button id="device_other" type="button" class="btn btn-outline-secondary btn-block">Other</button>
                {% endif %}
                <script type="text/javascript">
                    document.getElementById("device_other").onclick = function () {
                        location.href = "{{ url_for( 'book_device_other_get') }}";
                    };
                </script>
            </div>
        </div>


        <div class="row container-fluid mb-3 mt-6">
            <div class="col-12">
            {% if type == 'cell' %}   
            <h4>Channels & Cells selection</h4>
            <form method="POST">
                {{ forms['selectDevice'].csrf_token }}
                {{ wtf.form_field(forms['selectDevice'].device, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].channel, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].cell, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].submit, class='form-control', form_type="horizontal") }}
            </form>
            {% elif type == 'pack' %}
            <h4>Channels & Packs selection</h4>
            <form method="POST">
                {{ forms['selectDevice'].csrf_token }}
                {{ wtf.form_field(forms['selectDevice'].device, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].channel, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].pack, class='form-control', form_type="horizontal") }}
                {{ wtf.form_field(forms['selectDevice'].submit, class='form-control', form_type="horizontal") }}
            </form>
            {% elif type == 'other' %}
            <h4>Details</h4>
            {{ wtf.quick_form(forms['selectDevice'] , form_type="vertical") }}
            {% endif %}
            
            
            <script>
                let device_select = document.getElementById('device');
                let channel_select = document.getElementById('channel');
                device_select.onchange = function(){
                    device = device_select.value;
                    console.log(device)
                    fetch('/booking/channel/'+device).then(function(response) {
                        response.json().then(function(data){
                            console.table(data);
                            let optionHTML='';
                            for (let chan of data.channels){
                            optionHTML+= '<option value="'+chan.id+'">'+chan.name + '</option>';
                            }
                            console.log(optionHTML)
                            channel_select.innerHTML = optionHTML;
                        }) ;
                    });
                }
            </script>

            {% if channelList|length > 0 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Device</th>
                    <th scope="col">Channel</th>
                    <th scope="col">Cell</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody> 
                    {% for c,chanel in enumerate(channelList) %}
                    <tr>
                    <td>{{c}}</td>
                    <td>{{ chanel.device }}</td>
                    <td>{{ chanel.channel }}</td>
                    <td>{{ chanel.cell }}</td>
                    <td> <a href="/booking/channel/cancel/{{c}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">remove</a> </td>
                    </tr>
                    {% endfor %}  
                </tbody>
                </table>
            {% else %}
            <h4>No channel seletected so far</h4>
            {% endif %}

        </div>
    </div>

    </div>
    <div class="col-1"></div>
</div>



<div class="modal fade" id="modalNewCampaign" tabindex="-1" role="dialog" aria-labelledby="modalNewCampaignTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewCampaignTitle">Register a new campaign</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 row justify-content-center pt-5 smooth-scroll">
                    {{ wtf.quick_form(forms['addCampaign'] , form_type="vertical") }}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalNewProject" tabindex="-1" role="dialog" aria-labelledby="modalNewProjectLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewProjectLongTitle">Register a new project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 row justify-content-center pt-5 smooth-scroll">
                    {{ wtf.quick_form(forms['addProject'] , form_type="vertical") }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}