{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="row container-fluid mt-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h1>Cell management</h1>

        <div class="row mt-5">
            <div class="col-12">
                <h3>Cells under use</h3>
                <div style = 'overflow-y:scroll;height:300px;'>
                <table id="usedCell" class="table table-hover">
                    <thead class="thead-light" >
                      <tr>
                        <th>Cell id</th>
                        <th>Cell name</th>
                        <th>Model</th>
                        <th>Device</th>
                        <th>User</th>
                        <th>End date</th> 
                      </tr>
                    </thead>
                    <tbody >
                            {% for cell in cells %}
                            {% if cell.under_use == True %}
                            <tr class="clickable " onclick="window.location='/cell_details{{ cell.id }}'">
                            <td>{{ cell.id }}</td>
                            <td>{{ cell.name }}</td>
                            <td>{{ cell.type }}</td>
                            <td>{{ cell.device }}</td>
                            <td>{{ cell.user }}</td>
                            <td>{{ cell.end }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            

        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h3>Cells available</h3>
            <div style = 'overflow-y:scroll;height:300px;'>
                <table id="freeCell" class="table table-hover">
                    <thead class="thead-light" >
                        <tr>
                        <th>Cell id</th>
                        <th>Cell name</th>
                        <th>Model</th>
                        <th>Last use</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for cell in cells %}
                        {% if cell.under_use == False %}
                        <tr class="clickable " onclick="window.location='/cell_details{{ cell.id }}'">
                        <td>{{ cell.id }}</td>
                        <td>{{ cell.name }}</td>
                        <td>{{ cell.type }}</td>
                        <td>{{ cell.end }}</td>
                        <td>{{ cell.location }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-3"><buton type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalNewType"> Register new cell type</button></div>
            <div class="col-3"></div>
            <div class="col-3"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalNewCell"> Add new cells</button></div>
        </div>
    </div>
    <div class="col-1"></div>
</div>







<div class="modal fade" id="modalNewType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register a Cell type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 row justify-content-center pt-5 smooth-scroll">
                    {{ wtf.quick_form(forms['type'] , form_type="vertical") }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNewCell" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register a Cell type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-2 row justify-content-center pt-5 smooth-scroll">
                    {{ wtf.quick_form(forms['unit'] , form_type="vertical") }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}