{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

  <div class="row container-fluid mt-3">
    <div class="col-1"></div>
    <div class="col-10">
        <h1>Schedules management</h1>
        
      {% for device in data %}
      <h3>{{ device['name'] }}</h3>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thread>
            <tr>
              <th class="bg-primary" style="width: 10%"> Channel </th>
              {% for i in range (current_week, max_week) %}
              <th >week {{ i }}</th>
              {% endfor %}
            </tr>
          </thread>
          <tbody>
            {% for c, channel in enumerate(device['channels']) %}
            <tr class="accordion-toggle" >
              <td class="bg-light" data-toggle="collapse" data-target="#collapse{{device['name']+'_'+str(c)+'_'+str(s)}}">{{ c }}</td>
              {% for s, schedule in enumerate(channel) %}
                {% if schedule['state'] == True %}
                <td class="bg-success" colspan="{{ schedule['end'][1]-schedule['start'][1] }}" onclick= "window.location.href='{{ url_for( 'book_device' ,data = urlencode({ 'device':device['name'], 'channel':c })) }}';" style="cursor: pointer;" > Free  </td>
                {% elif s == 0%}
                <td class="bg-danger" colspan="{{ schedule['end'][1]-schedule['start'][1] }}" data-toggle="collapse" data-target="#{{device['name']+'_'+str(c)+'_'+str(s)}}" style="cursor: pointer;"> {{ schedule['test_type'] }}
                  <div id="{{device['name']+'_'+str(c)+'_'+str(s)}}" class="collapse in">
                    On-going test:  {{ schedule['test_name'] }}</br>
                    Type of test : {{ schedule['test_type'] }}</br>
                    Started by : {{ schedule['user'] }}</br>
                    <a class="btn btn-secondary" href="{{ url_for( 'endMesure_get' ,data = urlencode({ 'device':device['name'], 'channel':c, 'test':schedule['test_id'] }) ) }}" class="text-dark">Terminate</a>
                  </div>
                </td>
                {% else %}
                <td class="bg-warning" colspan="{{ schedule['end'][1]-schedule['start'][1] }}" data-toggle="collapse" data-target="#{{device['name']+'_'+str(c)+'_'+str(s)}}" style="cursor: pointer;"> {{ schedule['test_type'] }}
                  <div id="{{device['name']+'_'+str(c)+'_'+str(s)}}" class="collapse in">
                    On-going test:  {{ schedule['test_name'] }}</br>
                    Type of test : {{ schedule['test_type'] }}</br>
                    Started by : {{ schedule['user'] }}</br>
                    <a class="btn btn-secondary" href="{{ url_for( 'endMesure_get' ,data = urlencode({ 'device':device['name'], 'channel':c, 'test':schedule['test_id'] }) ) }}" class="text-dark">Terminate</a>
                  </div>
                </td>
                {% endif %}
              {% endfor %}
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %} 


      </div>
      <div class="col-1"></div>
  </div>

{% endblock %}
