{% extends "base.html" %}

{% block content %}
    
    <div class="row container-fluid mt-3">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Overview of the equipment</h1>
            <div class="row pt-2 pb-4">
            {% for device in devices %}
                {% if device.channels|length > 10 %}
                <div class="col-md-4 ps-2">
                    <div class="card">
                        <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">

                        <h5 class="card-title">{{ device.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Utilization
                            <div class="progress ps-2 pe-2 ms-2 me-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{ device.utilization }}%"></div>
                            </div>
                            </h6>
                        <p class="card-text">
                            

                            <div class="row">
                            <div class="col-sm-6">
                            <div class="row"><div class="col-6">Channel</div><div class="col-6">User</div></div>
                            {% for i in range(0,10) %}
                                

                                <div class ="row">
                                    {% if device.channels[i]["status"] == True %}
                                        <div class="col-6 mx-auto"><span class="badge badge-pill badge-danger">Under use</span></div>
                                        <div class="col-6 mx-auto"><span class="badge badge-pill badge-info">{{ device.channels[i]["user"]}}</span></div>
                                    {% else %}
                                    <div class="col-sm-12 align-items-center" ><span class="badge badge-pill badge-success"><a href="{{ url_for( 'book_device' ,data = urlencode({ 'device':device.name, 'channel':i }) ) }}" class="text-white">Free to use</a></span></div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                <div class="row"><div class="col-6">Channel</div><div class="col-6">User</div></div>
                                {% for i in range(10,device.channels|length) %}
                                    <div class ="row">
                                        {% if device.channels[i]["status"] == True %}
                                            <div class="col-6 ms-4"><span class="badge badge-pill badge-danger">Under use</span></div>
                                            <div class="col-6 ms-4"><span class="badge badge-pill badge-info">{{ device.channels[i]["user"]}}</span></div>
                                        {% else %}
                                        <div class="col-sm-12 align-items-center"><span class="badge badge-pill badge-success"><a href="{{ url_for( 'book_device' ,data = urlencode({ 'device':device.name, 'channel':i }) ) }}" class="text-white">Free to use</a></span></div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    
                        </p>
                    </div>
                    <div class="col-1"></div>
                </div>
                        <!-- <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4"><a href="#" class="btn btn-primary stretched-link">Check details</a></div>
                            <div class="col-4"></div>
                        </div> -->
                        
                    </div>
                </div> 
                {% else %} 
                <div class="col-md-2">
                    <div class="card pb-4 pt-2 ps-2 pe-2">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">

                        <h5 class="card-title">{{ device.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Utilization
                            <div class="progress ps-2 pe-2 ms-2 me-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: {{ device.utilization }}%"></div>
                            </div>
                        </h6>
                    <p class="card-text">
                        
                                <div class="row"><div class="col-6">Channel</div><div class="col-6">User</div></div>
                                {% for c, channel in enumerate(device.channels) %}
                                    <div class ="row">
                                        {% if channel["status"] == True %}
                                            <div class="col-6"><span class="badge badge-pill badge-danger">Under use</span></div>
                                            <div class="col-6"><span class="badge badge-pill badge-info">{{ channel["user"]}}</span></div>
                                        {% else %}
                                        <div class="col-sm-12 align-items-center"><span class="badge badge-pill badge-success"><a href="{{ url_for( 'book_device' ,data = urlencode({ 'device':device.name, 'channel':c }) ) }}" class="text-white">Free to use</a></span></div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
                    <!-- <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6"><a href="#" class="btn btn-primary stretched-link">Check details</a></div>
                        <div class="col-3"></div>
                    </div> -->
                    </div> 
                </div> 
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}